[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
flask-caching = "*"
requests = "*"
pydantic = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-html = "*"

[requires]
python_version = "3.12"
